template(name='visiters')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  a(href='/home')
    i.material-icons home
  each content.watchers
    img(src=profile.image)
  span 閲覧中
  
